<html>
<head>
    <title>Game</title>

    <link rel='stylesheet' href='/css/style.css' />

    <!-- Add jquery -->
    <script src="/javascripts/libs/jquery-1.12.3.min.js"></script>

    <!-- Add socketio for menage socket connection -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- Add phaser render library -->
    <script src="/javascripts/libs/phaser.min.js"></script>
    <!-- Text input plugin for phaser -->
    <script src="/javascripts/libs/phaser-input.min.js"></script>

    <script src="/javascripts/bundle.js"></script>
</head>

<body>
</body>

</html>